.message{"data-message-id": "#{message.id}"}
  .message__user
    = message.user.name
    .message__user__date
    = message.created_at.strftime("%F %R")
  .message__text
    - if message.content.present?
      %p.message__content
        = message.content
    = image_tag message.image.url, class: 'message__image' if message.image.present?