.side-content
  = render partial: "layouts/side_bar"
.main-content
  .main-header
    .main-box
      .main-box__group-name
        = @group.name
      .main-box__member-list
        = "Menber :"
        - @group.users.each do |menber|
          = menber.name
    %label.main__edit-btn
      = link_to edit_group_path(@group) do
        Edit
  .messages
    = render @messages
  .form
    .form__box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'message-box', placeholder: 'type a message'
        = f.label :image, class: 'message-box__image' do
          = fa_icon 'picture-o', class: 'fa_image'
          = f.file_field :image, class: 'message-box__image__file'
        = f.submit 'Send', class: 'send-btn'